.aaf {width:68px; height:55px;}
.social-book {width:83px; height:16px; border:10px sloid;}
.determine {width:500px; border:2px solid; background-color:silver; CELLPADDING:2px; }
.simple_calc {padding-left: 70px; padding-right: 50px}
.top {width:64px; height:99px;}
.btn_s {background:#EEEEEE;border:none;border-radius:15px;width:100px;padding:6px;}
.btn_s:hover {background:#33FFFF;}
