/*.print btn
{
    background-color: #5BC0DE;
    color: #FFFFFF;

}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}*/
.panel info
{
    background-color:red;
}